@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: "Hack Nerd Font, Hack NF";
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background: transparent;
	background-size: cover;
	font-size: 16pt;
}

button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	animation: gradient_f 20s ease-in infinite;
	border-radius: 80px; /* Increased border radius for a more rounded look */
	border: 0px;
	transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
		box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	color: @text;
}

button:focus {
	background-size: 22%;
	border: 0px;
}

button:hover {
	background-color: @maroon;
	opacity: 0.8;
	color: @crust;
	background-size: 30%;
	margin: 30px;
	border-radius: 80px;
	box-shadow: 0 0 50px @peach;
}

/* Adjust the size of the icon or content inside the button */
button span {
	font-size: 1.2em; /* Increase the font size */
}

#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url('./icons/lock.png'));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url('./icons/logout.png'));
}

#suspend {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url('./icons/suspend.png'));
}

#hibernate {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url('./icons/hibernate.png'));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url('./icons/shutdown.png'));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url('./icons/reboot.png'));
}
