@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  border: none;
  font-size: 16;
  font-family: "Hack Nerd Font, Hack NF";
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  margin: 0px;
}

/* Left modules + workspace */
#clock,
#cpu,
#memory,
#temperature,
#workspaces {
  background-color: @crust;
  padding: 0.3rem 0.7rem;
  margin: 5px;
  border-radius: 6px; /* These modules are always rounded */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  /* Transition for background-color and color only */
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

/* Right Modules */
#bluetooth,
#network,
/* #wireplumber-sink, */
/* #wireplumber-source, */
#wireplumber,
#tray,
#custom-clipboard,
#backlight,
#custom-lock,
#battery {
  background-color: @crust;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#custom-clipboard {
  text-align: center;
}

/* #tray, */
/* #custom-clipboard, */
/* #backlight, */
/* #custom-lock, */
/* #battery { */
/*   margin: 5px 0px; */
/* } */

#wireplumber {
  margin: 5px;
}

/* #wireplumber-sync, */
#bluetooth {
  margin-left: 5px;
}
/* #wireplumber-source, */
#network {
  margin-right: 5px;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#bluetooth:hover,
#network:hover,
/* #wireplumber-sync:hover, */
/* #wireplumber-source:hover, */
#wireplumber:hover,
#tray:hover,
#custom-clipboard:hover,
#backlight:hover,
#custom-lock:hover,
#battery:hover {
  background-color: @lavender;
  color: @base;
}

#workspaces button {
  color: @mauve;
  padding: 0.3rem 0.6rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: @pink;
  border: none;
  outline: none;
}

#workspaces button.hover {
  color: @blue;
  border: none;
  outline: none;
}

#temperature.critical,
#wireplumber.muted {
  color: @red;
  padding-top: 0;
}

#clock {
  color: @blue;
  font-weight: 600;
}

#custom-music {
  background-color: @crust;
  padding: 0.3rem 0.7rem;
  margin: 5px 5px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  outline: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    outline 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  font-weight: 600;
}

#custom-music {
  margin-right: 5px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  background-color: @crust;
  color: @text;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 155, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

@keyframes blink {
  to {
    background-color: @text;
    color: @crust;
  }
}
